<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.relife.android">
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="smsto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:label="relife" android:requestLegacyExternalStorage="true" android:icon="@mipmap/launcher_icon" android:allowBackup="false" android:fullBackupOnly="false" android:hasFragileUserData="true">
        <activity android:name="com.yalantis.ucrop.UCropActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MainActivity" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme" />
            <meta-data android:name="im.getsocial.sdk.AutoRegisterForPush" android:value="false" />
            <meta-data android:name="im.getsocial.sdk.ShowNotificationInForeground" android:value="true" />
            <meta-data android:name="com.google.android.gms.ads.AD_MANAGER_APP" android:value="true" />
            <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts" />
            <meta-data android:name="io.flutter.embedding.android.SplashScreenDrawable" android:resource="@drawable/launch_background" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity android:name="web.o.alarm.WakeUpActivity" android:theme="@style/AlarmTheme" android:excludeFromRecents="true" android:showOnLockScreen="true" android:launchMode="singleInstance" android:screenOrientation="portrait" android:configChanges="colorMode|density|fontWeightAdjustment|fontScale|keyboard|keyboardHidden|layoutDirection|locale|navigation|orientation|screenLayout|smallestScreenSize|screenSize|touchscreen|uiMode|mnc|mcc" android:showWhenLocked="true" android:turnScreenOn="true" android:showForAllUsers="true" android:resizeableActivity="false" android:directBootAware="true" android:exported="true" />
        <receiver android:name="web.o.alarm.NotificattionActionReceiver" android:directBootAware="true" android:exported="true" />
        <receiver android:name="web.o.alarm.AlarmReceiver" android:directBootAware="true" android:exported="true" />
        <receiver android:name="web.o.alarm.RebootReceivers" android:exported="true" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="miui.intent.action.ALARM_CHANGED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <service android:name="web.o.alarm.BellService" android:exported="true" />
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data android:name="flutterEmbedding" android:value="2" />

    </application>
</manifest>